html body {
  background-color: #F1F1F1; }
  html body header {
    background-color: #273c75;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
    html body header section {
      max-width: 1400px;
      display: flex;
      padding: 0 15px;
      margin: 0 auto; }
      html body header section p {
        color: #FFFFFF;
        font-size: 2em;
        line-height: 60px;
        font-weight: 500; }
      html body header section nav {
        flex-basis: 100%; }
        html body header section nav ul {
          text-align: right; }
          html body header section nav ul li {
            display: inline-block;
            line-height: 60px; }
            html body header section nav ul li > a {
              text-decoration: none;
              color: #dcdde1;
              border-left: 1px solid #FFFFFF;
              padding: 2.5px 5px;
              font-weight: 500; }
              html body header section nav ul li > a:hover {
                color: #FFF; }
            html body header section nav ul li:first-child a {
              border: none; }
  html body main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 60px; }
    html body main > #presentation-container {
      margin-top: 60px;
      text-align: center; }
      html body main > #presentation-container > h1 {
        color: #273c75; }
      html body main > #presentation-container > #description-presentation > p {
        margin-top: 15px;
        font-size: 1.1em;
        font-style: italic;
        font-weight: 500; }
    html body main > #main-container {
      display: flex; }
      html body main > #main-container > #nav-container {
        flex-basis: 20%; }
        html body main > #main-container > #nav-container > .row {
          position: fixed; }
      html body main > #main-container > #doc-container {
        flex-basis: 80%; }
        html body main > #main-container > #doc-container > .row > div > div {
          border-radius: 5px;
          overflow: hidden; }
          html body main > #main-container > #doc-container > .row > div > div > .header-col {
            background-color: #273c75;
            padding: 5px 15px;
            color: #FFF; }
          html body main > #main-container > #doc-container > .row > div > div > .main-col {
            background-color: #FFFFFF;
            padding: 15px 15px; }
            html body main > #main-container > #doc-container > .row > div > div > .main-col > .content-documentation {
              margin: 15px 0; }
              html body main > #main-container > #doc-container > .row > div > div > .main-col > .content-documentation > pre {
                margin: 10px 0;
                padding: 5px;
                background-color: #EFEFEF; }
              html body main > #main-container > #doc-container > .row > div > div > .main-col > .content-documentation .tag-html {
                color: #0f7595; }
              html body main > #main-container > #doc-container > .row > div > div > .main-col > .content-documentation .attribut-html {
                color: #273c75; }
              html body main > #main-container > #doc-container > .row > div > div > .main-col > .content-documentation .value-html {
                color: #CF2829; }
              html body main > #main-container > #doc-container > .row > div > div > .main-col > .content-documentation .ul-liste-textarea {
                margin: 5px 30px; }
          html body main > #main-container > #doc-container > .row > div > div > .footer-col {
            background-color: #FFFFFF;
            padding: 5px 15px;
            border-top: 1px solid lightgrey;
            font-size: 0.8em; }
