/* BTN OSPAF */
.btn {
  cursor: pointer;
  outline: none;
  border: 1px solid;
  border-radius: 5px; }

.btn-sm {
  padding: 5px; }

.btn-md {
  padding: 7px; }

.btn-lg {
  padding: 9px; }

.btn-default {
  background-color: #D2DAE2;
  border-color: #D2DAE2; }

.btn-default:hover {
  background-color: #7F8FA6;
  border-color: #7F8FA6; }

.btn-red {
  background-color: #FD2E2E;
  border-color: #FD2E2E;
  color: #F5F6FA; }

.btn-red:hover {
  background-color: #CF1B1B;
  border-color: #CF1B1B;
  color: #F5F6FA; }

.btn-green {
  background-color: #3AE374;
  border-color: #3AE374;
  color: #F5F6FA; }

.btn-green:hover {
  background-color: #20BF6B;
  border-color: #20BF6B;
  color: #F5F6FA; }

.btn-blue {
  background-color: #00A8FF;
  border-color: #00A8FF;
  color: #F5F6FA; }

.btn-blue:hover {
  background-color: #037FF1;
  border-color: #037FF1;
  color: #F5F6FA; }

.btn-orange {
  background-color: #EE712B;
  border-color: #EE712B;
  color: #F5F6FA; }

.btn-orange:hover {
  background-color: #DC4712;
  border-color: #DC4712;
  color: #F5F6FA; }

/* BTN OSPAF */
/* MODAL CLASS */
#parent-modals {
  display: none;
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  transition: 1s; }

.modal-window {
  width: 600px;
  background-color: #FFF;
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s; }

/* MODAL CLASS */
/* OSPAF GRID */
.container {
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden; }
  .container .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em; }
    .container .row div {
      padding: 0 1em;
      margin: 1em 0; }
      .container .row div div {
        word-wrap: break-word; }

@media screen and (max-device-width: 380px) {
  .container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-sm-11, .container > .row > .col-sm-10, .container > .row > .col-sm-9, .container > .row > .col-sm-8, .container > .row > .col-sm-7, .container > .row > .col-sm-6, .container > .row > .col-sm-5, .container > .row > .col-sm-4, .container > .row > .col-md-12, .container > .row > .col-md-6, .container > .row > .col-md-4, .container > .row > .col-md-3, .container > .row > .col-md-5, .container > .row > .col-md-7, .container > .row > .col-md-8, .container > .row > .col-md-9, .container > .row > .col-md-10, .container > .row > .col-md-11, .container > .row > .col-lg-12, .container > .row > .col-lg-11, .container > .row > .col-lg-10, .container > .row > .col-lg-9, .container > .row > .col-lg-8, .container > .row > .col-lg-7, .container > .row > .col-lg-5, .container > .row > .col-lg-4, .container > .row > .col-lg-3, .container > .row > .col-lg-2, .container > .row > .col-lg-1 {
    flex-basis: 100%; }
  .container > .row > .col-xs-11 {
    flex-basis: calc(100% / (12/11)); }
  .container > .row > .col-xs-10 {
    flex-basis: calc(100% / (12/10)); }
  .container > .row > .col-xs-9 {
    flex-basis: calc(100% / (12/9)); }
  .container > .row > .col-xs-8 {
    flex-basis: calc(100% / (12/8)); }
  .container > .row > .col-xs-7 {
    flex-basis: calc(100% / (12/7)); }
  .container > .row > .col-xs-6, .container > .row > .col-md-2, .container > .row > .col-sm-3 {
    flex-basis: calc(100% / 2); }
  .container > .row > .col-xs-5 {
    flex-basis: calc(100% / (12/5)); }
  .container > .row > .col-xs-4, .container > .row > .col-md-1, .container > .row > .col-sm-2 {
    flex-basis: calc(100% / 3); }
  .container > .row > .col-xs-3 {
    flex-basis: calc(100% / 4); }
  .container > .row > .col-xs-2, .container > .row > .col-sm-1 {
    flex-basis: calc(100% / 6); }
  .container > .row > .col-xs-1 {
    flex-basis: calc(100% / 12); } }

@media screen and (min-device-width: 380px) and (max-device-width: 768px) {
  .container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-md-12, .container > .row > .col-md-6, .container > .row > .col-md-4, .container > .row > .col-md-5, .container > .row > .col-md-7, .container > .row > .col-md-8, .container > .row > .col-md-9, .container > .row > .col-md-10, .container > .row > .col-md-11, .container > .row > .col-lg-12, .container > .row > .col-lg-11, .container > .row > .col-lg-10, .container > .row > .col-lg-9, .container > .row > .col-lg-8, .container > .row > .col-lg-7, .container > .row > .col-lg-5, .container > .row > .col-lg-4, .container > .row > .col-lg-3 {
    flex-basis: 100%; }
  .container > .row > .col-xs-11, .container > .row > .col-sm-11 {
    flex-basis: calc(100% / (12/11)); }
  .container > .row > .col-xs-10, .container > .row > .col-sm-10 {
    flex-basis: calc(100% / (12/10)); }
  .container > .row > .col-xs-9, .container > .row > .col-sm-9 {
    flex-basis: calc(100% / (12/9)); }
  .container > .row > .col-xs-8, .container > .row > .col-sm-8 {
    flex-basis: calc(100% / (12/8)); }
  .container > .row > .col-xs-7, .container > .row > .col-sm-7 {
    flex-basis: calc(100% / (12/7)); }
  .container > .row > .col-xs-6, .container > .row > .col-sm-6, .container > .row > .col-md-3, .container > .row > .col-lg-2 {
    flex-basis: calc(100% / 2); }
  .container > .row > .col-xs-5, .container > .row > .col-sm-5 {
    flex-basis: calc(100% / (12/5)); }
  .container > .row > .col-xs-4, .container > .row > .col-sm-4, .container > .row > .col-md-2, .container > .row > .col-lg-1 {
    flex-basis: calc(100% / 3); }
  .container > .row > .col-xs-3, .container > .row > .col-sm-3 {
    flex-basis: calc(100% / 4); }
  .container > .row > .col-xs-2, .container > .row > .col-sm-2, .container > .row > .col-md-1 {
    flex-basis: calc(100% / 6); }
  .container > .row > .col-xs-1, .container > .row > .col-sm-1 {
    flex-basis: calc(100% / 12); } }

@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-md-12, .container > .row > .col-lg-12, .container > .row > .col-lg-11, .container > .row > .col-lg-10, .container > .row > .col-lg-9, .container > .row > .col-lg-8, .container > .row > .col-lg-7, .container > .row > .col-lg-5 {
    flex-basis: 100%; }
  .container > .row > .col-xs-11, .container > .row > .col-sm-11, .container > .row > .col-md-11 {
    flex-basis: calc(100% / (12/11)); }
  .container > .row > .col-xs-10, .container > .row > .col-sm-10, .container > .row > .col-md-10 {
    flex-basis: calc(100% / (12/10)); }
  .container > .row > .col-xs-9, .container > .row > .col-sm-9, .container > .row > .col-md-9 {
    flex-basis: calc(100% / (12/9)); }
  .container > .row > .col-xs-8, .container > .row > .col-sm-8, .container > .row > .col-md-8 {
    flex-basis: calc(100% / (12/8)); }
  .container > .row > .col-xs-7, .container > .row > .col-sm-7, .container > .row > .col-md-7 {
    flex-basis: calc(100% / (12/7)); }
  .container > .row > .col-xs-6, .container > .row > .col-sm-6, .container > .row > .col-md-6, .container > .row > .col-lg-6, .container > .row > .col-lg-4, .container > .row > .col-lg-3 {
    flex-basis: calc(100% / 2); }
  .container > .row > .col-xs-5, .container > .row > .col-sm-5, .container > .row > .col-md-5 {
    flex-basis: calc(100% / (12/5)); }
  .container > .row > .col-xs-4, .container > .row > .col-sm-4, .container > .row > .col-md-4 {
    flex-basis: calc(100% / 3); }
  .container > .row > .col-xs-3, .container > .row > .col-sm-3, .container > .row > .col-md-3, .container > .row > .col-lg-2 {
    flex-basis: calc(100% / 4); }
  .container > .row > .col-xs-2, .container > .row > .col-sm-2, .container > .row > .col-md-2, .container > .row > .col-lg-1 {
    flex-basis: calc(100% / 6); }
  .container > .row > .col-xs-1, .container > .row > .col-sm-1, .container > .row > .col-md-1 {
    flex-basis: calc(100% / 12); } }

@media screen and (min-device-width: 992px) and (max-device-width: 1280px) {
  .container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-md-12, .container > .row > .col-lg-12 {
    flex-basis: 100%; }
  .container > .row > .col-xs-11, .container > .row > .col-sm-11, .container > .row > .col-md-11, .container > .row > .col-lg-11 {
    flex-basis: calc(100% / (12/11)); }
  .container > .row > .col-xs-10, .container > .row > .col-sm-10, .container > .row > .col-md-10, .container > .row > .col-lg-10 {
    flex-basis: calc(100% / (12/10)); }
  .container > .row > .col-xs-9, .container > .row > .col-sm-9, .container > .row > .col-md-9, .container > .row > .col-lg-9 {
    flex-basis: calc(100% / (12/9)); }
  .container > .row > .col-xs-8, .container > .row > .col-sm-8, .container > .row > .col-md-8, .container > .row > .col-lg-8 {
    flex-basis: calc(100% / (12/8)); }
  .container > .row > .col-xs-7, .container > .row > .col-sm-7, .container > .row > .col-md-7, .container > .row > .col-lg-7 {
    flex-basis: calc(100% / (12/7)); }
  .container > .row > .col-xs-6, .container > .row > .col-sm-6, .container > .row > .col-md-6, .container > .row > .col-lg-6 {
    flex-basis: calc(100% / 2); }
  .container > .row > .col-xs-5, .container > .row > .col-sm-5, .container > .row > .col-md-5, .container > .row > .col-lg-5 {
    flex-basis: calc(100% / (12/5)); }
  .container > .row > .col-xs-4, .container > .row > .col-sm-4, .container > .row > .col-md-4, .container > .row > .col-lg-4 {
    flex-basis: calc(100% / 3); }
  .container > .row > .col-xs-3, .container > .row > .col-sm-3, .container > .row > .col-md-3, .container > .row > .col-lg-3 {
    flex-basis: calc(100% / 4); }
  .container > .row > .col-xs-2, .container > .row > .col-sm-2, .container > .row > .col-md-2, .container > .row > .col-lg-2 {
    flex-basis: calc(100% / 6); }
  .container > .row > .col-xs-1, .container > .row > .col-sm-1, .container > .row > .col-md-1, .container > .row > .col-lg-1 {
    flex-basis: calc(100% / 12); } }

@media screen and (min-device-width: 1280px) {
  .container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-md-12, .container > .row > .col-lg-12 {
    flex-basis: 100%; }
  .container > .row > .col-xs-11, .container > .row > .col-sm-11, .container > .row > .col-md-11, .container > .row > .col-lg-11 {
    flex-basis: calc(100% / (12/11)); }
  .container > .row > .col-xs-10, .container > .row > .col-sm-10, .container > .row > .col-md-10, .container > .row > .col-lg-10 {
    flex-basis: calc(100% / (12/10)); }
  .container > .row > .col-xs-9, .container > .row > .col-sm-9, .container > .row > .col-md-9, .container > .row > .col-lg-9 {
    flex-basis: calc(100% / (12/9)); }
  .container > .row > .col-xs-8, .container > .row > .col-sm-8, .container > .row > .col-md-8, .container > .row > .col-lg-8 {
    flex-basis: calc(100% / (12/8)); }
  .container > .row > .col-xs-7, .container > .row > .col-sm-7, .container > .row > .col-md-7, .container > .row > .col-lg-7 {
    flex-basis: calc(100% / (12/7)); }
  .container > .row > .col-xs-6, .container > .row > .col-sm-6, .container > .row > .col-md-6, .container > .row > .col-lg-6 {
    flex-basis: calc(100% / 2); }
  .container > .row > .col-xs-5, .container > .row > .col-sm-5, .container > .row > .col-md-5, .container > .row > .col-lg-5 {
    flex-basis: calc(100% / (12/5)); }
  .container > .row > .col-xs-4, .container > .row > .col-sm-4, .container > .row > .col-md-4, .container > .row > .col-lg-4 {
    flex-basis: calc(100% / 3); }
  .container > .row > .col-xs-3, .container > .row > .col-sm-3, .container > .row > .col-md-3, .container > .row > .col-lg-3 {
    flex-basis: calc(100% / 4); }
  .container > .row > .col-xs-2, .container > .row > .col-sm-2, .container > .row > .col-md-2, .container > .row > .col-lg-2 {
    flex-basis: calc(100% / 6); }
  .container > .row > .col-xs-1, .container > .row > .col-sm-1, .container > .row > .col-md-1, .container > .row > .col-lg-1 {
    flex-basis: calc(100% / 12); } }

/* OSPAF GRID */
