/* BTN OSPAF */
.btn {
	cursor: pointer;
	outline: none;
	border: 1px solid;
	border-radius: 5px;
}
.btn-sm {
	padding: 5px;
}
.btn-md {
	padding: 7px;
}
.btn-lg {
	padding: 9px;
}

.btn-default {
	background-color: $btnColorDefaultBase;
	border-color: $btnColorDefaultBase;
}
	.btn-default:hover {
		background-color: $btnColorDefaultHover;
		border-color: $btnColorDefaultHover;
	}
.btn-red {
	background-color: $btnColorRedBase;
	border-color: $btnColorRedBase;
	color: $btnColorRedText;
}
	.btn-red:hover {
		background-color: $btnColorRedHover;
		border-color: $btnColorRedHover;
		color: $btnColorRedText;
	}
.btn-green {
	background-color: $btnColorGreenBase;
	border-color: $btnColorGreenBase;
	color: $btnColorGreenText;
}
	.btn-green:hover {
		background-color: $btnColorGreenHover;
		border-color: $btnColorGreenHover;
		color: $btnColorGreenText;
	}
.btn-blue {
	background-color: $btnColorBlueBase;
	border-color: $btnColorBlueBase;
	color: $btnColorBlueText;
}
	.btn-blue:hover {
		background-color: $btnColorBlueHover;
		border-color: $btnColorBlueHover;
		color: $btnColorBlueText;
	}
.btn-orange {
	background-color: $btnColorOrangeBase;
	border-color: $btnColorOrangeBase;
	color: $btnColorOrangeText;
}
	.btn-orange:hover {
		background-color: $btnColorOrangeHover;
		border-color: $btnColorOrangeHover;
		color: $btnColorOrangeText;
	}

/* BTN OSPAF */
/* MODAL CLASS */
#parent-modals {
	display: none;
	opacity: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	transition: 1s;
}
.modal-window {
	width: 600px;
	background-color: #FFF;
	padding: 15px;
	border-radius: 10px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	transition: 1s;
}
/* MODAL CLASS */