$primaryColor: #8e44ad;

$btnColorDefaultBase: #D2DAE2;
$btnColorDefaultHover: #7F8FA6;

$btnColorRedBase: #FD2E2E;
$btnColorRedHover: #CF1B1B;
$btnColorRedText: #F5F6FA;

$btnColorGreenBase: #3AE374;
$btnColorGreenHover: #20BF6B;
$btnColorGreenText: #F5F6FA;

$btnColorBlueBase: #00A8FF;
$btnColorBlueHover: #037FF1;
$btnColorBlueText: #F5F6FA;

$btnColorOrangeBase: #EE712B;
$btnColorOrangeHover: #DC4712;
$btnColorOrangeText: #F5F6FA;

