/* COLORS */
$globalColor_tosle: #1A5CCB;
  $globalColor_tosleHover: #15479e;
$globalColor_yellow: #FFC107;
  $globalColor_yellowHover: #E6AC00;
$globalColor_dark: #343A40;
  $globalColor_darkHover: #22262A;
$globalColor_white: #F8F9FA;
  $globalColor_whiteHover: #F0F2F4;
$globalColor_purple: #9B59B6;
  $globalColor_purpleHover: #8E44AD;
$globalColor_orange: #FA690E;
  $globalColor_orangeHover: #FA690E;
$globalColor_blue: #00A8FF;
  $globalColor_blueHover: #037FF1;
$globalColor_green: #28A745;
  $globalColor_greenHover: #23903C;
$globalColor_red: #F43C3E;
  $globalColor_redHover: #CF2829;
$globalColor_default: #949599;
  $globalColor_defaultHover: #7D7E82;
/* COLORS */


/* SCSS FUNCTION */

/* SCSS FUNCTION */