$primaryColor: #8e44ad;

/* VARIABLES BTN-DEFAULT */
	/* btn-default normal */
		$btnDefaultColorBackground: #D2DAE2;
		$btnDefaultColorBackgroundHover: #7F8FA6;
		$btnDefaultColorText: #000000;
	/* btn-default normal */
	/* btn-default outline */
		$btnDefaultOutlineColorBackground: #FFFFFF;
		$btnDefaultOutlineColorBackgroundHover: #F1F1F1;
		$btnDefaultOutlineColorBorder: #D2DAE2;
		$btnDefaultOutlineColorBorderHover: #7F8FA6;
		$btnDefaultOutlineColorText: #000000;
	/* btn-default outline */
/* VARIABLES BTN-DEFAULT */
/* VARIABLES BTN-RED */
	/* btn-red normal */
		$btnRedColorBackground: #F43C3E;
		$btnRedColorBackgroundHover: #CF2829;
		$btnRedColorText: #F5F6FA;
	/* btn-red normal */
	/* btn-red outline */
		$btnRedOutlineColorBackground: #FFFFFF;
		$btnRedOutlineColorBackgroundHover: #F1F1F1;
		$btnRedOutlineColorBorder: #F43C3E;
		$btnRedOutlineColorBorderHover: #CF2829;
		$btnRedOutlineColorText: #000000;
	/* btn-red outline */
/* VARIABLES BTN-RED */
/* VARIABLES BTN-GREEN */
	/* btn-green normal */
		$btnGreenColorBackground: #2ECC71;
		$btnGreenColorBackgroundHover: #27AE60;
		$btnGreenColorText: #F5F6FA;
	/* btn-green normal */
	/* btn-green outline */
		$btnGreenOutlineColorBackground: #FFFFFF;
		$btnGreenOutlineColorBackgroundHover: #F1F1F1;
		$btnGreenOutlineColorBorder: #2ECC71;
		$btnGreenOutlineColorBorderHover: #27AE60;
		$btnGreenOutlineColorText: #000000;
	/* btn-green outline */
/* VARIABLES BTN-GREEN */
/* VARIABLES BTN-BLUE */
	/* btn-blue normal */
		$btnBlueColorBackground: #00A8FF;
		$btnBlueColorBackgroundHover: #037FF1;
		$btnBlueColorText: #F5F6FA;
	/* btn-blue normal */
	/* btn-blue outline */
		$btnBlueOutlineColorBackground: #FFFFFF;
		$btnBlueOutlineColorBackgroundHover: #F1F1F1;
		$btnBlueOutlineColorBorder: #00A8FF;
		$btnBlueOutlineColorBorderHover: #037FF1;
		$btnBlueOutlineColorText: #000000;
	/* btn-blue outline */
/* VARIABLES BTN-BLUE */
/* VARIABLES BTN-ORANGE */
	/* btn-orange normal */
		$btnOrangeColorBackground: #FA690E;
		$btnOrangeColorBackgroundHover: #DC4712;
		$btnOrangeColorText: #F5F6FA;
	/* btn-orange normal */
	/* btn-orange outline */
		$btnOrangeOutlineColorBackground: #FFFFFF;
		$btnOrangeOutlineColorBackgroundHover: #F1F1F1;
		$btnOrangeOutlineColorBorder: #FA690E;
		$btnOrangeOutlineColorBorderHover: #DC4712;
		$btnOrangeOutlineColorText: #000000;
	/* btn-orange outline */
/* VARIABLES BTN-ORANGE */
/* VARIABLES BTN-PURPLE */
	/* btn-purple normal */
		$btnPurpleColorBackground: #9B59B6;
		$btnPurpleColorBackgroundHover: #8E44AD;
		$btnPurpleColorText: #F5F6FA;
	/* btn-purple normal */
	/* btn-purple outline */
		$btnPurpleOutlineColorBackground: #FFFFFF;
		$btnPurpleOutlineColorBackgroundHover: #F1F1F1;
		$btnPurpleOutlineColorBorder: #9B59B6;
		$btnPurpleOutlineColorBorderHover: #8E44AD;
		$btnPurpleOutlineColorText: #000000;
	/* btn-purple outline */
/* VARIABLES BTN-PURPLE */

