$primaryColor: #8e44ad;
/* VARIABLES BTN-OUTLINE GLOBAL */
	$btnColoredTextDefault: #F5F6FA;
	$btnTextColorDefault: #000000;
/* VARIABLES BTN-OUTLINE GLOBAL */
/* VARIABLES BTN-DEFAULT */
	$btnDefaultColor: #949599;
	$btnDefaultColorHover: #7D7E82;
	$btnDefaultText: #FFFFFF;
	$btnDefaultText2: #000000;
/* VARIABLES BTN-DEFAULT */
/* VARIABLES BTN-RED */
	$btnRedColor: #F43C3E;
	$btnRedColorHover: #CF2829;
	$btnRedText: #F43C3E;
/* VARIABLES BTN-RED */
/* VARIABLES BTN-GREEN */
	$btnGreenColor: #28A745;
	$btnGreenColorHover: #23903C;
	$btnGreenText: #28A745;
/* VARIABLES BTN-GREEN */
/* VARIABLES BTN-BLUE */
	$btnBlueColor: #00A8FF;
	$btnBlueColorHover: #037FF1;
	$btnBlueText: #00A8FF;
/* VARIABLES BTN-BLUE */
/* VARIABLES BTN-ORANGE */
	$btnOrangeColor: #FA690E;
	$btnOrangeColorHover: #DC4712;
	$btnOrangeText: #FA690E;
/* VARIABLES BTN-ORANGE */
/* VARIABLES BTN-PURPLE */
	$btnPurpleColor: #9B59B6;
	$btnPurpleColorHover: #8E44AD;
	$btnPurpleText: #9B59B6;
/* VARIABLES BTN-PURPLE */
/* VARIABLES BTN-WHITE */
	$btnWhiteColor: #F8F9FA;
	$btnWhiteColorHover: #F0F2F4;
	$btnWhiteText: #F8F9FA;
/* VARIABLES BTN-WHITE */
/* VARIABLES BTN-DARK */
	$btnDarkColor: #343A40;
	$btnDarkColorHover: #22262A;
	$btnDarkText: #343A40;
/* VARIABLES BTN-DARK */
/* VARIABLES BTN-YELLOW */
	$btnYellowColor: #FFC107;
	$btnYellowColorHover: #E6AC00;
	$btnYellowText: #FFC107;
/* VARIABLES BTN-YELLOW */

