$primaryColor: #8e44ad;
$btnTransitionSpeed: .4s;
/* VARIABLES BTN-OUTLINE GLOBAL */
	$btnColoredTextDefault: #F5F6FA;
	$btnTextColorDefault: #000000;
/* VARIABLES BTN-OUTLINE GLOBAL */
/* VARIABLES BTN-DEFAULT */
	$btnDefaultColor: $globalColor_default;
	$btnDefaultColorHover: $globalColor_defaultHover;
	$btnDefaultText: #FFFFFF;
	$btnDefaultText2: #000000;
/* VARIABLES BTN-DEFAULT */
/* VARIABLES BTN-RED */
	$btnRedColor: $globalColor_red;
	$btnRedColorHover: $globalColor_redHover;
	$btnRedText: $globalColor_red;
/* VARIABLES BTN-RED */
/* VARIABLES BTN-GREEN */
	$btnGreenColor: $globalColor_green;
	$btnGreenColorHover: $globalColor_greenHover;
	$btnGreenText: $globalColor_green;
/* VARIABLES BTN-GREEN */
/* VARIABLES BTN-BLUE */
	$btnBlueColor: $globalColor_blue;
	$btnBlueColorHover: $globalColor_blueHover;
	$btnBlueText: $globalColor_blue;
/* VARIABLES BTN-BLUE */
/* VARIABLES BTN-ORANGE */
	$btnOrangeColor: $globalColor_orange;
	$btnOrangeColorHover: $globalColor_orangeHover;
	$btnOrangeText: $globalColor_orange;
/* VARIABLES BTN-ORANGE */
/* VARIABLES BTN-PURPLE */
	$btnPurpleColor: $globalColor_purple;
	$btnPurpleColorHover: $globalColor_purpleHover;
	$btnPurpleText: $globalColor_purple;
/* VARIABLES BTN-PURPLE */
/* VARIABLES BTN-WHITE */
	$btnWhiteColor: $globalColor_white;
	$btnWhiteColorHover: $globalColor_whiteHover;
	$btnWhiteText: $globalColor_white;
/* VARIABLES BTN-WHITE */
/* VARIABLES BTN-DARK */
	$btnDarkColor: $globalColor_dark;
	$btnDarkColorHover: $globalColor_darkHover;
	$btnDarkText: $globalColor_dark;
/* VARIABLES BTN-DARK */
/* VARIABLES BTN-YELLOW */
	$btnYellowColor: $globalColor_yellow;
	$btnYellowColorHover: $globalColor_yellowHover;
	$btnYellowText: $globalColor_yellow;
/* VARIABLES BTN-YELLOW */
/* VARIABLES BTN-TOSLE */
	$btnTosleColor: $globalColor_tosle;
	$btnTosleColorHover: $globalColor_tosleHover;
	$btnTosleText: $globalColor_tosle;
/* VARIABLES BTN-TOSLE */

