node_modules/




#For Material Icons
icons/material-design-icons/action/
icons/material-design-icons/alert/
icons/material-design-icons/av/
icons/material-design-icons/communication/
icons/material-design-icons/content/
icons/material-design-icons/device/
icons/material-design-icons/editor/
icons/material-design-icons/file/
icons/material-design-icons/hardware/
icons/material-design-icons/image/
icons/material-design-icons/maps/
icons/material-design-icons/navigation/
icons/material-design-icons/notification/
icons/material-design-icons/places/
icons/material-design-icons/social/
icons/material-design-icons/sprites/
icons/material-design-icons/toggle/

icons/material-design-icons/.babelrc
icons/material-design-icons/.gitignore
icons/material-design-icons/bower.json
icons/material-design-icons/gulpfile.babel.js
icons/material-design-icons/index.js
icons/material-design-icons/LICENSE
icons/material-design-icons/package.json
icons/material-design-icons/README.md
