/* GLOBAL CFG */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* GLOBAL CFG */

/* TEXT CFG */
body {
	font-family: "Roboto", sans-serif, Arial;
	font-size: 1rem;
	h1 {
		font-size: 1.7em;
		font-weight: bold;
		font-style: normal;
	}
	h2 {
		font-size: 1.5em;
		font-weight: bold;
		font-style: normal;
	}
	h3 {
		font-size: 1.2em;
		font-weight: 500;
	}
	p {
		font-size: 1em;
		font-style: normal;
	}
}


/* TEXT CFG */
