@media all and (max-width: 420px){
	body {
		font-size: 1.3rem;
	}
}
@media all and (max-device-width: 420px){
	body {
		font-size: 1.3rem;
	}
}
@media all and (min-width: 420px) and (min-device-width: 420px) {
	body {
		font-size: 1.2rem;
	}
}
@media all and (min-width: 768px) and (min-device-width: 768px) {
	body {
		font-size: 1.1rem;
	}
}
@media all and (min-width: 1230px) and (min-device-width: 1230px) {
	body {
		font-size: 1rem;
		.modal-window {
			max-width: 800px;
		}
	}
}