/* OSPAF GRID */
.container {
	margin: 0 auto;
	max-width: 100%;
	overflow: hidden;
	.row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1em;
		div {
			padding: 0 1em;
			margin: 1em 0;
			div {
				word-wrap: break-word;
			}
		}
	}
}

@media screen and (max-device-width: 380px){
	.container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-sm-11, .container > .row > .col-sm-10, .container > .row > .col-sm-9, .container > .row > .col-sm-8, .container > .row > .col-sm-7, .container > .row > .col-sm-6, .container > .row > .col-sm-5, .container > .row > .col-sm-4, .container > .row > .col-md-12, .container > .row > .col-md-6, , .container > .row > .col-md-4, .container > .row > .col-md-3, .container > .row > .col-md-5, .container > .row > .col-md-7, .container > .row > .col-md-8, .container > .row > .col-md-9, .container > .row > .col-md-10, .container > .row > .col-md-11, .container > .row > .col-lg-12, .container > .row > .col-lg-11, .container > .row > .col-lg-10, .container > .row > .col-lg-9, .container > .row > .col-lg-8, .container > .row > .col-lg-7, .container > .row > .col-lg-5, .container > .row > .col-lg-4, .container > .row > .col-lg-3, .container > .row > .col-lg-2, .container > .row > .col-lg-1 {
		flex-basis: 100%;
	}
	.container > .row > .col-xs-11 {
		flex-basis: calc(100% / (12/11));
	}
	.container > .row > .col-xs-10 {
		flex-basis: calc(100% / (12/10));
	}
	.container > .row > .col-xs-9 {
		flex-basis: calc(100% / (12/9));
	}
	.container > .row > .col-xs-8 {
		flex-basis: calc(100% / (12/8));
	}
	.container > .row > .col-xs-7 {
		flex-basis: calc(100% / (12/7));
	}
	.container > .row > .col-xs-6, .container > .row > .col-md-2, .container > .row > .col-sm-3 {
		flex-basis: calc(100% / 2);
	}
	.container > .row > .col-xs-5 {
		flex-basis: calc(100% / (12/5));
	}
	.container > .row > .col-xs-4, .container > .row > .col-md-1, .container > .row > .col-sm-2 {
		flex-basis: calc(100% / 3);
	}
	.container > .row > .col-xs-3 {
		flex-basis: calc(100% / 4);
	}
	.container > .row > .col-xs-2, .container > .row > .col-sm-1 {
		flex-basis: calc(100% / 6);
	}
	.container > .row > .col-xs-1 {
		flex-basis: calc(100% / 12);
	}
}
@media screen and (min-device-width: 380px) and (max-device-width: 768px){
	.container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-md-12, .container > .row > .col-md-6, .container > .row > .col-md-4, .container > .row > .col-md-5, .container > .row > .col-md-7, .container > .row > .col-md-8, .container > .row > .col-md-9, .container > .row > .col-md-10, .container > .row > .col-md-11, .container > .row > .col-lg-12, .container > .row > .col-lg-11, .container > .row > .col-lg-10, .container > .row > .col-lg-9, .container > .row > .col-lg-8, .container > .row > .col-lg-7, .container > .row > .col-lg-5, .container > .row > .col-lg-4, .container > .row > .col-lg-3{
		flex-basis: 100%;
	}
	.container > .row > .col-xs-11, .container > .row > .col-sm-11 {
		flex-basis: calc(100% / (12/11));
	}
	.container > .row > .col-xs-10, .container > .row > .col-sm-10 {
		flex-basis: calc(100% / (12/10));
	}
	.container > .row > .col-xs-9, .container > .row > .col-sm-9 {
		flex-basis: calc(100% / (12/9));
	}
	.container > .row > .col-xs-8, .container > .row > .col-sm-8 {
		flex-basis: calc(100% / (12/8));
	}
	.container > .row > .col-xs-7, .container > .row > .col-sm-7 {
		flex-basis: calc(100% / (12/7));
	}
	.container > .row > .col-xs-6, .container > .row > .col-sm-6, .container > .row > .col-md-3, .container > .row > .col-lg-2 {
		flex-basis: calc(100% / 2);
	}
	.container > .row > .col-xs-5, .container > .row > .col-sm-5 {
		flex-basis: calc(100% / (12/5));
	}
	.container > .row > .col-xs-4, .container > .row > .col-sm-4, .container > .row > .col-md-2, .container > .row > .col-lg-1{
		flex-basis: calc(100% / 3);
	}
	.container > .row > .col-xs-3, .container > .row > .col-sm-3 {
		flex-basis: calc(100% / 4);
	}
	.container > .row > .col-xs-2, .container > .row > .col-sm-2, .container > .row > .col-md-1{
		flex-basis: calc(100% / 6);
	}
	.container > .row > .col-xs-1, .container > .row > .col-sm-1 {
		flex-basis: calc(100% / 12);
	}
}
@media screen and (min-device-width: 768px)  and (max-device-width: 992px){
	.container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-md-12, .container > .row > .col-lg-12, .container > .row > .col-lg-11, .container > .row > .col-lg-10, .container > .row > .col-lg-9, .container > .row > .col-lg-8, .container > .row > .col-lg-7, .container > .row > .col-lg-5{
		flex-basis: 100%;
	}
	.container > .row > .col-xs-11, .container > .row > .col-sm-11, .container > .row > .col-md-11{
		flex-basis: calc(100% / (12/11));
	}
	.container > .row > .col-xs-10, .container > .row > .col-sm-10, .container > .row > .col-md-10{
		flex-basis: calc(100% / (12/10));
	}
	.container > .row > .col-xs-9, .container > .row > .col-sm-9, .container > .row > .col-md-9{
		flex-basis: calc(100% / (12/9));
	}
	.container > .row > .col-xs-8, .container > .row > .col-sm-8, .container > .row > .col-md-8{
		flex-basis: calc(100% / (12/8));
	}
	.container > .row > .col-xs-7, .container > .row > .col-sm-7, .container > .row > .col-md-7{
		flex-basis: calc(100% / (12/7));
	}
	.container > .row > .col-xs-6, .container > .row > .col-sm-6, .container > .row > .col-md-6, .container > .row > .col-lg-6, .container > .row > .col-lg-4, .container > .row > .col-lg-3 {
		flex-basis: calc(100% / 2);
	}
	.container > .row > .col-xs-5, .container > .row > .col-sm-5, .container > .row > .col-md-5 {
		flex-basis: calc(100% / (12/5));
	}
	.container > .row > .col-xs-4, .container > .row > .col-sm-4, .container > .row > .col-md-4 {
		flex-basis: calc(100% / 3);
	}
	.container > .row > .col-xs-3, .container > .row > .col-sm-3, .container > .row > .col-md-3, .container > .row > .col-lg-2{
		flex-basis: calc(100% / 4);
	}
	.container > .row > .col-xs-2, .container > .row > .col-sm-2, .container > .row > .col-md-2, .container > .row > .col-lg-1{
		flex-basis: calc(100% / 6);
	}
	.container > .row > .col-xs-1, .container > .row > .col-sm-1, .container > .row > .col-md-1{
		flex-basis: calc(100% / 12);
	}
}
@media screen and (min-device-width: 992px)  and (max-device-width: 1280px){
	.container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-md-12, .container > .row > .col-lg-12{
		flex-basis: 100%;
	}
	.container > .row > .col-xs-11, .container > .row > .col-sm-11, .container > .row > .col-md-11, .container > .row > .col-lg-11{
		flex-basis: calc(100% / (12/11));
	}
	.container > .row > .col-xs-10, .container > .row > .col-sm-10, .container > .row > .col-md-10, .container > .row > .col-lg-10{
		flex-basis: calc(100% / (12/10));
	}
	.container > .row > .col-xs-9, .container > .row > .col-sm-9, .container > .row > .col-md-9, .container > .row > .col-lg-9{
		flex-basis: calc(100% / (12/9));
	}
	.container > .row > .col-xs-8, .container > .row > .col-sm-8, .container > .row > .col-md-8, .container > .row > .col-lg-8{
		flex-basis: calc(100% / (12/8));
	}
	.container > .row > .col-xs-7, .container > .row > .col-sm-7, .container > .row > .col-md-7, .container > .row > .col-lg-7{
		flex-basis: calc(100% / (12/7));
	}
	.container > .row > .col-xs-6, .container > .row > .col-sm-6, .container > .row > .col-md-6, .container > .row > .col-lg-6{
		flex-basis: calc(100% / 2);
	}
	.container > .row > .col-xs-5, .container > .row > .col-sm-5, .container > .row > .col-md-5, .container > .row > .col-lg-5{
		flex-basis: calc(100% / (12/5));
	}
	.container > .row > .col-xs-4, .container > .row > .col-sm-4, .container > .row > .col-md-4, .container > .row > .col-lg-4{
		flex-basis: calc(100% / 3);
	}
	.container > .row > .col-xs-3, .container > .row > .col-sm-3, .container > .row > .col-md-3, .container > .row > .col-lg-3{
		flex-basis: calc(100% / 4);
	}
	.container > .row > .col-xs-2, .container > .row > .col-sm-2, .container > .row > .col-md-2, .container > .row > .col-lg-2{
		flex-basis: calc(100% / 6);
	}
	.container > .row > .col-xs-1, .container > .row > .col-sm-1, .container > .row > .col-md-1, .container > .row > .col-lg-1{
		flex-basis: calc(100% / 12);
	}
}
@media screen and (min-device-width: 1280px){
	.container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-md-12, .container > .row > .col-lg-12{
		flex-basis: 100%;
	}
	.container > .row > .col-xs-11, .container > .row > .col-sm-11, .container > .row > .col-md-11, .container > .row > .col-lg-11{
		flex-basis: calc(100% / (12/11));
	}
	.container > .row > .col-xs-10, .container > .row > .col-sm-10, .container > .row > .col-md-10, .container > .row > .col-lg-10{
		flex-basis: calc(100% / (12/10));
	}
	.container > .row > .col-xs-9, .container > .row > .col-sm-9, .container > .row > .col-md-9, .container > .row > .col-lg-9{
		flex-basis: calc(100% / (12/9));
	}
	.container > .row > .col-xs-8, .container > .row > .col-sm-8, .container > .row > .col-md-8, .container > .row > .col-lg-8{
		flex-basis: calc(100% / (12/8));
	}
	.container > .row > .col-xs-7, .container > .row > .col-sm-7, .container > .row > .col-md-7, .container > .row > .col-lg-7{
		flex-basis: calc(100% / (12/7));
	}
	.container > .row > .col-xs-6, .container > .row > .col-sm-6, .container > .row > .col-md-6, .container > .row > .col-lg-6{
		flex-basis: calc(100% / 2);
	}
	.container > .row > .col-xs-5, .container > .row > .col-sm-5, .container > .row > .col-md-5, .container > .row > .col-lg-5{
		flex-basis: calc(100% / (12/5));
	}
	.container > .row > .col-xs-4, .container > .row > .col-sm-4, .container > .row > .col-md-4, .container > .row > .col-lg-4{
		flex-basis: calc(100% / 3);
	}
	.container > .row > .col-xs-3, .container > .row > .col-sm-3, .container > .row > .col-md-3, .container > .row > .col-lg-3{
		flex-basis: calc(100% / 4);
	}
	.container > .row > .col-xs-2, .container > .row > .col-sm-2, .container > .row > .col-md-2, .container > .row > .col-lg-2{
		flex-basis: calc(100% / 6);
	}
	.container > .row > .col-xs-1, .container > .row > .col-sm-1, .container > .row > .col-md-1, .container > .row > .col-lg-1{
		flex-basis: calc(100% / 12);
	}
}
/* OSPAF GRID */