.pagination {
  list-style: none;
  display: flex;
  border-radius: .25rem;
  margin: 15px 0;
  justify-content: left;
  > .item {
    border: 1px solid $borderPagination_liBlock;
    > .link-page {
      display: block;
      height: 32px;
      width: 32px;
      line-height: 32px;
      text-decoration: none;
      text-align: center;
      color: $globalColor_dark;
      &:hover {
        background-color: rgba(0,0,0,0.1);
      }
    }
    &.active {
      > .link-page {
        color: $globalColor_white;
        background-color: $globalColor_darkHover;
      }
    }
    &:last-child{
      border-right: 1px solid $borderPagination_liBlock;
    }
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-right {
    justify-content: right;
  }
  /*
    COLORS CLASS OF UL LIST
   */
  &.tosle {
    > .item {
      .link-page {
        color: $globalColor_tosle;
        &:hover {
          background-color: rgba(0,0,0,0.05);
        }
      }
      &.active {
        border: 1px solid $globalColor_tosleHover;
        > .link-page {
          color: $globalColor_white;
          background-color: $globalColor_tosleHover;
        }
      }
    }
  }
  &.red {
    > .item {
      .link-page {
        color: $globalColor_red;
        &:hover {
          background-color: rgba(0,0,0,0.05);
        }
      }
      &.active {
        > .link-page {
          color: $globalColor_white;
          background-color: $globalColor_redHover;
        }
      }
    }
  }
  &.green {
    > .item {
      .link-page {
        color: $globalColor_green;
        &:hover {
          background-color: rgba(0,0,0,0.05);
        }
      }
      &.active {
        > .link-page {
          color: $globalColor_white;
          background-color: $globalColor_greenHover;
        }
      }
    }
  }
  &.blue {
    > .item {
      .link-page {
        color: $globalColor_blue;
        &:hover {
          background-color: rgba(0,0,0,0.05);
        }
      }
      &.active {
        > .link-page {
          color: $globalColor_white;
          background-color: $globalColor_blueHover;
        }
      }
    }
  }
  &.orange {
    > .item {
      .link-page {
        color: $globalColor_orange;
        &:hover {
          background-color: rgba(0,0,0,0.05);
        }
      }
      &.active {
        > .link-page {
          color: $globalColor_white;
          background-color: $globalColor_orangeHover;
        }
      }
    }
  }
  &.purple {
    > .item {
      .link-page {
        color: $globalColor_purple;
        &:hover {
          background-color: rgba(0,0,0,0.05);
        }
      }
      &.active {
        > .link-page {
          color: $globalColor_white;
          background-color: $globalColor_purpleHover;
        }
      }
    }
  }
  &.yellow {
    > .item {
      .link-page {
        color: $globalColor_yellow;
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
      &.active {
        > .link-page {
          color: $globalColor_white;
          background-color: $globalColor_yellowHover;
        }
      }
    }
  }
  /*
    COLORS CLASS OF UL LIST
   */
}