/* BTN OSPAF */
.btn {
	cursor: pointer;
	outline: none;
	border: 1px solid;
	border-radius: 5px;
	text-decoration: none;
	padding: 7px;
	font-size: 1em;
	transition: background-color .2s;
}
.btn-sm {
	@extend .btn;
	padding: 5px;
	font-size: 0.8em;
}
.btn-lg {
	@extend .btn;
	padding: 9px;
	font-size: 1.2em;
}
	/* BTN DEFAULT */
	.btn-default {
		background-color: $btnDefaultColor;
		border-color: $btnDefaultColor;
		color: $btnDefaultText;
	}
		.btn-default:hover {
			background-color: $btnDefaultColorHover;
			border-color: $btnDefaultColorHover;
		}
	.btn-default-outline {
		background: none;
		border-color: $btnDefaultColor;
		color: $btnTextColorDefault;
	}
		.btn-default-outline:hover {
			background-color: $btnDefaultColorHover;
			border-color: $btnDefaultColorHover;
			color: $btnDefaultText;
		}
	/* BTN DEFAULT */
	/* BTN RED */
	.btn-red {
		background-color: $btnRedColor;
		border-color: $btnRedColor;
		color: $btnColoredTextDefault;
	}
		.btn-red:hover {
			background-color: $btnRedColorHover;
			border-color: $btnRedColorHover;
		}
	.btn-red-outline {
		background: none;
		border-color: $btnRedColor;
		color: $btnRedText;
	}
		.btn-red-outline:hover {
			background-color: $btnRedColorHover;
			border-color: $btnRedColorHover;
			color: $btnColoredTextDefault;
		}
	/* BTN RED */
	/* BTN GREEN */
	.btn-green {
		background-color: $btnGreenColor;
		border-color: $btnGreenColor;
		color: $btnColoredTextDefault;
	}
		.btn-green:hover {
			background-color: $btnGreenColorHover;
			border-color: $btnGreenColorHover;
		}
	.btn-green-outline {
		background: none;
		border-color: $btnGreenColor;
		color: $btnGreenText;
	}
		.btn-green-outline:hover {
			background-color: $btnGreenColorHover;
			border-color: $btnGreenColorHover;
			color: $btnColoredTextDefault;
		}
	/* BTN GREEN */
	/* BTN BLUE */
	.btn-blue {
		background-color: $btnBlueColor;
		border-color: $btnBlueColor;
		color: $btnColoredTextDefault;
	}
		.btn-blue:hover {
			background-color: $btnBlueColorHover;
			border-color: $btnBlueColorHover;
		}
	.btn-blue-outline {
		background: none;
		border-color: $btnBlueColor;
		color: $btnBlueText;
	}
		.btn-blue-outline:hover {
			background-color: $btnBlueColorHover;
			border-color: $btnBlueColorHover;
			color: $btnColoredTextDefault;
		}
	/* BTN BLUE */
	/* BTN ORANGE */
	.btn-orange {
		background-color: $btnOrangeColor;
		border-color: $btnOrangeColor;
		color: $btnColoredTextDefault;
	}
		.btn-orange:hover {
			background-color: $btnOrangeColorHover;
			border-color: $btnOrangeColorHover;
		}
	.btn-orange-outline {
		background: none;
		border-color: $btnOrangeColor;
		color: $btnOrangeText;
	}
		.btn-orange-outline:hover {
			background-color: $btnOrangeColorHover;
			border-color: $btnOrangeColorHover;
			color: $btnColoredTextDefault;
		}
	/* BTN ORANGE */
	/* BTN PURPLE */
	.btn-purple {
		background-color: $btnPurpleColor;
		border-color: $btnPurpleColor;
		color: $btnColoredTextDefault;
	}
		.btn-purple:hover {
			background-color: $btnPurpleColorHover;
			border-color: $btnPurpleColorHover;
		}
	.btn-purple-outline {
		background: none;
		border-color: $btnPurpleColor;
		color: $btnPurpleText;
	}
		.btn-purple-outline:hover {
			background-color: $btnPurpleColorHover;
			border-color: $btnPurpleColorHover;
			color: $btnColoredTextDefault;
		}
	/* BTN PURPLE */
	/* BTN WHITE */
	.btn-white {
		background-color: $btnWhiteColor;
		border-color: $btnWhiteColor;
		color: $btnTextColorDefault;
	}
		.btn-white:hover {
			background-color: $btnWhiteColorHover;
			border-color: $btnWhiteColorHover;
		}
	.btn-white-outline {
		background: none;
		border-color: $btnWhiteColor;
		color: $btnWhiteText;
	}
		.btn-white-outline:hover {
			background-color: $btnWhiteColorHover;
			border-color: $btnWhiteColorHover;
			color: $btnTextColorDefault;
		}
	/* BTN WHITE */
	/* BTN DARK */
	.btn-dark {
		background-color: $btnDarkColor;
		border-color: $btnDarkColor;
		color: $btnColoredTextDefault;
	}
		.btn-dark:hover {
			background-color: $btnDarkColorHover;
			border-color: $btnDarkColorHover;
		}
	.btn-dark-outline {
		background: none;
		border-color: $btnDarkColor;
		color: $btnDarkText;
	}
		.btn-dark-outline:hover {
			background-color: $btnDarkColorHover;
			border-color: $btnDarkColorHover;
			color: $btnColoredTextDefault;
		}
	/* BTN DARK */
	/* BTN YELLOW */
	.btn-yellow {
		background-color: $btnYellowColor;
		border-color: $btnYellowColor;
		color: $btnColoredTextDefault;
	}
		.btn-yellow:hover {
			background-color: $btnYellowColorHover;
			border-color: $btnYellowColorHover;
		}
	.btn-yellow-outline {
		background: none;
		border-color: $btnYellowColor;
		color: $btnYellowColor;
	}
		.btn-yellow-outline:hover {
			background-color: $btnYellowColorHover;
			border-color: $btnYellowColorHover;
			color: $btnColoredTextDefault;
		}
	/* BTN YELLOW */
/* BTN OSPAF */