/* BTN OSPAF */
.btn {
	cursor: pointer;
	outline: none;
	border: 1px solid;
	border-radius: 5px;
}
.btn-sm {
	padding: 5px;
	font-size: 12px;
}
.btn-md {
	padding: 7px;
	font-size: 14px;
}
.btn-lg {
	padding: 9px;
	font-size: 14px;
}
	/* BTN DEFAULT */
	.btn-default {
		background-color: $btnDefaultColorBackground;
		border-color: $btnDefaultColorBackground;
		color: $btnDefaultColorText;
	}
		.btn-default:hover {
			background-color: $btnDefaultColorBackgroundHover;
			border-color: $btnDefaultColorBackgroundHover;
		}
	.btn-default-outline {
		background-color: $btnDefaultOutlineColorBackground;
		border-color: $btnDefaultOutlineColorBorder;
		color: $btnDefaultOutlineColorText;
	}
		.btn-default-outline:hover {
			background-color: $btnDefaultOutlineColorBackgroundHover;
			border-color: $btnDefaultOutlineColorBorderHover;
		}
	/* BTN DEFAULT */
	/* BTN RED */
	.btn-red {
		background-color: $btnRedColorBackground;
		border-color: $btnRedColorBackground;
		color: $btnRedColorText;
	}
		.btn-red:hover {
			background-color: $btnRedColorBackgroundHover;
			border-color: $btnRedColorBackgroundHover;
		}
	.btn-red-outline {
		background-color: $btnRedOutlineColorBackground;
		border-color: $btnRedOutlineColorBorder;
		color: $btnRedOutlineColorText;
	}
		.btn-red-outline:hover {
			background-color: $btnRedOutlineColorBackgroundHover;
			border-color: $btnRedOutlineColorBorderHover;
		}
	/* BTN RED */
	/* BTN GREEN */
	.btn-green {
		background-color: $btnGreenColorBackground;
		border-color: $btnGreenColorBackground;
		color: $btnGreenColorText;
	}
		.btn-green:hover {
			background-color: $btnGreenColorBackgroundHover;
			border-color: $btnGreenColorBackgroundHover;
		}
	.btn-green-outline {
		background-color: $btnGreenOutlineColorBackground;
		border-color: $btnGreenOutlineColorBorder;
		color: $btnGreenOutlineColorText;
	}
		.btn-green-outline:hover {
			background-color: $btnGreenOutlineColorBackgroundHover;
			border-color: $btnGreenOutlineColorBorderHover;
		}
	/* BTN GREEN */
	/* BTN BLUE */
	.btn-blue {
		background-color: $btnBlueColorBackground;
		border-color: $btnBlueColorBackground;
		color: $btnBlueColorText;
	}
		.btn-blue:hover {
			background-color: $btnBlueColorBackgroundHover;
			border-color: $btnBlueColorBackgroundHover;
		}
	.btn-blue-outline {
		background-color: $btnBlueOutlineColorBackground;
		border-color: $btnBlueOutlineColorBorder;
		color: $btnBlueOutlineColorText;
	}
		.btn-blue-outline:hover {
			background-color: $btnBlueOutlineColorBackgroundHover;
			border-color: $btnBlueOutlineColorBorderHover;
		}
	/* BTN BLUE */
	/* BTN ORANGE */
	.btn-orange {
		background-color: $btnOrangeColorBackground;
		border-color: $btnOrangeColorBackground;
		color: $btnOrangeColorText;
	}
		.btn-orange:hover {
			background-color: $btnOrangeColorBackgroundHover;
			border-color: $btnOrangeColorBackgroundHover;
		}
	.btn-orange-outline {
		background-color: $btnOrangeOutlineColorBackground;
		border-color: $btnOrangeOutlineColorBorder;
		color: $btnOrangeOutlineColorText;
	}
		.btn-orange-outline:hover {
			background-color: $btnOrangeOutlineColorBackgroundHover;
			border-color: $btnOrangeOutlineColorBorderHover;
		}
	/* BTN ORANGE */
	/* BTN PURPLE */
	.btn-purple {
		background-color: $btnPurpleColorBackground;
		border-color: $btnPurpleColorBackground;
		color: $btnPurpleColorText;
	}
		.btn-purple:hover {
			background-color: $btnPurpleColorBackgroundHover;
			border-color: $btnPurpleColorBackgroundHover;
		}
	.btn-purple-outline {
		background-color: $btnPurpleOutlineColorBackground;
		border-color: $btnPurpleOutlineColorBorder;
		color: $btnPurpleOutlineColorText;
	}
		.btn-purple-outline:hover {
			background-color: $btnPurpleOutlineColorBackgroundHover;
			border-color: $btnPurpleOutlineColorBorderHover;
		}
	/* BTN PURPLE */
	/* BTN WHITE */
	.btn-white {
		background-color: $btnWhiteColorBackground;
		border-color: $btnWhiteColorBackground;
		color: $btnWhiteColorText;
	}
		.btn-white:hover {
			background-color: $btnWhiteColorBackgroundHover;
			border-color: $btnWhiteColorBackgroundHover;
		}
	.btn-white-outline {
		background-color: $btnWhiteOutlineColorBackground;
		border-color: $btnWhiteOutlineColorBorder;
		color: $btnWhiteOutlineColorText;
	}
		.btn-white-outline:hover {
			background-color: $btnWhiteOutlineColorBackgroundHover;
			border-color: $btnWhiteOutlineColorBorderHover;
		}
	/* BTN WHITE */
/* BTN OSPAF */