/* MODAL CLASS */
.fade-background {
	display: none;
	opacity: 0;
	position: fixed;
	min-height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	transition: 1s;
	overflow: scroll;
}
.modal-window {
	width: 600px;
	background-color: #FFF;
	border-radius: 10px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	transition: 1s;
	.modal-header {
		padding: 15px;
		border-bottom: 1px solid $modalWindowColorHeaderBorderBottom;
		color: $modalWindowColorHeaderTitle;
		.modal-header-icons {
			
		}
	}
	.modal-main {
		padding: 15px;
	}
	.modal-footer {
		padding: 5px 15px;
		text-align: right;
		border-top: 1px solid $modalWindowColorHeaderBorderTop;
	}
}
/* MODAL CLASS */