/* BTN OSPAF */
.btn {
	cursor: pointer;
	outline: none;
	border: 1px solid;
	border-radius: 5px;
	text-decoration: none;
	padding: 7px;
	font-size: 1em;
	transition: background-color .2s;
}
.btn-sm {
	padding: 5px;
	font-size: 0.8em;
}
.btn-lg {
	padding: 9px;
	font-size: 1.2em;
}
	/* BTN DEFAULT */
	.btn-default {
		background-color: $btnDefaultColorBackground;
		border-color: $btnDefaultColorBackground;
		color: $btnDefaultColorText;
	}
		.btn-default:hover {
			background-color: $btnDefaultColorBackgroundHover;
			border-color: $btnDefaultColorBackgroundHover;
		}
	.btn-default-outline {
		background-color: $btnOutlineColorBackground;
		border-color: $btnDefaultOutlineColorBorder;
		color: $btnOutlineColorText;
	}
		.btn-default-outline:hover {
			background-color: $btnOutlineColorBackgroundHover;
			border-color: $btnDefaultOutlineColorBorderHover;
		}
	/* BTN DEFAULT */
	/* BTN RED */
	.btn-red {
		background-color: $btnRedColorBackground;
		border-color: $btnRedColorBackground;
		color: $btnRedColorText;
	}
		.btn-red:hover {
			background-color: $btnRedColorBackgroundHover;
			border-color: $btnRedColorBackgroundHover;
		}
	.btn-red-outline {
		background-color: $btnOutlineColorBackground;
		border-color: $btnRedOutlineColorBorder;
		color: $btnOutlineColorText;
	}
		.btn-red-outline:hover {
			background-color: $btnOutlineColorBackgroundHover;
			border-color: $btnRedOutlineColorBorderHover;
		}
	/* BTN RED */
	/* BTN GREEN */
	.btn-green {
		background-color: $btnGreenColorBackground;
		border-color: $btnGreenColorBackground;
		color: $btnGreenColorText;
	}
		.btn-green:hover {
			background-color: $btnGreenColorBackgroundHover;
			border-color: $btnGreenColorBackgroundHover;
		}
	.btn-green-outline {
		background-color: $btnOutlineColorBackground;
		border-color: $btnGreenOutlineColorBorder;
		color: $btnOutlineColorText;
	}
		.btn-green-outline:hover {
			background-color: $btnOutlineColorBackgroundHover;
			border-color: $btnGreenOutlineColorBorderHover;
		}
	/* BTN GREEN */
	/* BTN BLUE */
	.btn-blue {
		background-color: $btnBlueColorBackground;
		border-color: $btnBlueColorBackground;
		color: $btnBlueColorText;
	}
		.btn-blue:hover {
			background-color: $btnBlueColorBackgroundHover;
			border-color: $btnBlueColorBackgroundHover;
		}
	.btn-blue-outline {
		background-color: $btnOutlineColorBackground;
		border-color: $btnBlueOutlineColorBorder;
		color: $btnOutlineColorText;
	}
		.btn-blue-outline:hover {
			background-color: $btnOutlineColorBackgroundHover;
			border-color: $btnBlueOutlineColorBorderHover;
		}
	/* BTN BLUE */
	/* BTN ORANGE */
	.btn-orange {
		background-color: $btnOrangeColorBackground;
		border-color: $btnOrangeColorBackground;
		color: $btnOrangeColorText;
	}
		.btn-orange:hover {
			background-color: $btnOrangeColorBackgroundHover;
			border-color: $btnOrangeColorBackgroundHover;
		}
	.btn-orange-outline {
		background-color: $btnOutlineColorBackground;
		border-color: $btnOrangeOutlineColorBorder;
		color: $btnOutlineColorText;
	}
		.btn-orange-outline:hover {
			background-color: $btnOutlineColorBackgroundHover;
			border-color: $btnOrangeOutlineColorBorderHover;
		}
	/* BTN ORANGE */
	/* BTN PURPLE */
	.btn-purple {
		background-color: $btnPurpleColorBackground;
		border-color: $btnPurpleColorBackground;
		color: $btnPurpleColorText;
	}
		.btn-purple:hover {
			background-color: $btnPurpleColorBackgroundHover;
			border-color: $btnPurpleColorBackgroundHover;
		}
	.btn-purple-outline {
		background-color: $btnOutlineColorBackground;
		border-color: $btnPurpleOutlineColorBorder;
		color: $btnOutlineColorText;
	}
		.btn-purple-outline:hover {
			background-color: $btnOutlineColorBackgroundHover;
			border-color: $btnPurpleOutlineColorBorderHover;
		}
	/* BTN PURPLE */
	/* BTN WHITE */
	.btn-white {
		background-color: $btnWhiteColorBackground;
		border-color: $btnWhiteColorBackground;
		color: $btnWhiteColorText;
	}
		.btn-white:hover {
			background-color: $btnWhiteColorBackgroundHover;
			border-color: $btnWhiteColorBackgroundHover;
		}
	.btn-white-outline {
		background-color: $btnOutlineColorBackground;
		border-color: $btnWhiteOutlineColorBorder;
		color: $btnWhiteOutlineColorText;
	}
		.btn-white-outline:hover {
			background-color: $btnOutlineColorBackgroundHover;
			border-color: $btnWhiteOutlineColorBorderHover;
		}
	/* BTN WHITE */
	/* BTN DARK */
	.btn-dark {
		background-color: $btnDarkColorBackground;
		border-color: $btnDarkColorBackground;
		color: $btnDarkColorText;
	}
		.btn-dark:hover {
			background-color: $btnDarkColorBackgroundHover;
			border-color: $btnDarkColorBackgroundHover;
		}
	.btn-dark-outline {
		background-color: $btnOutlineColorBackground;
		border-color: $btnDarkOutlineColorBorder;
		color: $btnOutlineColorText;
	}
		.btn-dark-outline:hover {
			background-color: $btnOutlineColorBackgroundHover;
			border-color: $btnDarkOutlineColorBorderHover;
		}
	/* BTN DARK */
	/* BTN YELLOW */
	.btn-yellow {
		background-color: $btnYellowColorBackground;
		border-color: $btnYellowColorBackground;
		color: $btnYellowColorText;
	}
		.btn-yellow:hover {
			background-color: $btnYellowColorBackgroundHover;
			border-color: $btnYellowColorBackgroundHover;
		}
	.btn-yellow-outline {
		background-color: $btnOutlineColorBackground;
		border-color: $btnYellowOutlineColorBorder;
		color: $btnOutlineColorText;
	}
		.btn-yellow-outline:hover {
			background-color: $btnOutlineColorBackgroundHover;
			border-color: $btnYellowOutlineColorBorderHover;
		}
	/* BTN YELLOW */
/* BTN OSPAF */